.history-main {
  padding: 2rem;

  display: grid;
  place-items: center;
  gap: 2rem;
}

.history-main .heading {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.history-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

  width: 100%;
}

.history-container .history-card {
  background-color: var(--primary-clr);
  text-align: center;
  padding: 1em;

  border-radius: 10px;
}
