.history_container {
  padding: 2rem;
}

.history_container .back {
  position: sticky;
  top: 20px;
}

.history_container .back .icon_back {
  background-color: var(--primary-clr);
  padding: 0.5rem;
  border-radius: 100%;
}

.history_container .content {
  margin: 3rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  grid-gap: 2rem 1rem;
}

.history_container .content .box {
  padding: 1rem;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #261c2c;
  border-radius: 10px;
  text-align: center;
}
