.saved-main {
  padding: 2rem;

  display: grid;
  place-items: center;
  gap: 2rem;
}

.saved-main .heading {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.saved-card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  width: 100%;
}

.saved-card {
  background-color: var(--blur-clr);
  border-radius: 20px;
  overflow: hidden;

  position: relative;
}

.saved-card .details {
  padding: 0.5em;
  display: grid;
  gap: 1rem;

  text-align: center;
}

.saved-card button {
  position: absolute;
  top: 0;
  right: 5px;
  border: none;
  background-color: transparent;
}

.saved-card button svg {
  width: 2rem;
}
