.search_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_container .box {
  width: 90%;
}

.search_container .tagline {
  margin-bottom: 1rem;
}

.search_container .tagline h1 {
  text-transform: uppercase;
  font-weight: var(--ft-bold);
  text-align: center;
  font-size: clamp(2rem, 3.5vw, 2.2rem);
}

.search_container .form {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.search_container .form .form_input {
  display: flex;
  outline: 2px solid white;
}

.search_container .form .input {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  border: none;
  outline: none;
  font-family: var(--ft);
  letter-spacing: 1px;
}

.search_container .form .btn {
  border: none;
  padding: 1em;
  font-family: var(--ft);
  font-weight: var(--ft-bold);
  text-transform: uppercase;
  cursor: pointer;
}

.search_container .form .filter_container .filter_icon_container {
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;

  width: 100%;
}

.search_container .form .filter_container .icon {
  border: none;
  font-family: inherit;
  background-color: transparent;
  color: white;
  cursor: pointer;

  display: flex;
  gap: 0.5em;
  align-items: center;

  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5em;
}

.search_container .form .filter_container .icon:hover {
  background-color: rgba(128, 128, 128, 0.418);
}

.search_container .form .filter_container .language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5em;
}

@media (min-width: 800px) {
  .search_container .box {
    width: 40rem;
  }
}
