.card_container {
  margin-top: 2rem;

  display: grid;
  gap: 1rem;

  background-color: var(--blur-clr);
  border-radius: 20px;
  padding: 1em;
}

.card_container button {
  border: none;
  background-color: transparent;
  color: var(--text-clr);
  font-size: 1.1rem;
}

.card_container .read-now {
  padding: 1rem;
  border-bottom: 1px solid var(--primary-clr);
  font-size: 1rem;
  width: 100%;
}

.card_container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_container .details {
  display: flex;
  gap: 1rem;

  text-transform: capitalize;
}

.card_container .details div:nth-child(1) {
  width: 100%;
}

.card_container .details div:nth-child(2) {
  width: 100%;

  display: grid;
  gap: 1rem;
}

.card_container .details div:nth-child(2) h1 {
  font-size: 1.3rem;
}

.card_container .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card_container .tags-container p {
  padding: 0.7em;
  border: 1px solid var(--primary-clr);
  display: grid;
  place-items: center;
}

@media (max-width: 750px) {
  .card_container .details {
    flex-direction: column;
  }
}
