.footer {
  margin-top: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  font-size: 1rem;
  font-weight: var(--ft-medium);
  margin-bottom: 0.5rem;
}

.footer a {
  border-bottom: 1px solid var(--primary-clr);
}
