.navbar_container {
  padding: 2rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar_container ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar_container button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: var(--ft);
  font-weight: var(--ft-medium);
  font-size: inherit;
  cursor: pointer;
}

@media (min-width: 400px) {
  .navbar_container {
    flex-direction: row;
    margin-bottom: 0;
  }
}
