.try_again {
  background-color: white;
  color: black;
  padding: 0.5em;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  font-weight: var(--ft-bold);
  margin-top: 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
}

.try_again svg {
  width: 20px;
  height: 20px;
}

.error_message {
  font-size: 1.5rem;
}
